@import url("bootstrap.min.css");
@import url("material.min.css");
@import url("ripples.min.css");
@import url("roboto.min.css");

body{
  overflow-x: hidden;
}

.chat-history{
  height: 580px;
  overflow-y: scroll;

}

.single{
  height: 450px;
}

.full{
  width: 95%;
  margin: 1em;
}

.alert{
  width: 80%;
}
.pull-rigth{
  float: right !important;
}

.group-message-input{
  padding-right: 0;
  font-size: 1.2em;
}

