<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat - </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="row">
  <div class="col-md-8">
    <div class="col-md-12 chat-history" id="messages">
    </div>
    <div class="col-md-12 message-input">
      <div class="well">
        <form class="form-group">
          <input type="text" class="form-control imput-md" id="input">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4>Usuarios Conectados</h4>
      </div>
      <div class="panel-body" style="height:580px;">
        <ul class="nav nav-pills nav-stacked" id="users">
        </ul>
      </div>
    </div>
  </div>
<script src="libs/jquery-1.11.3.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/material.min.js"></script>
<script src="libs/ripples.min.js"></script>

  <script type="text/template" id="user-message">
    <div class="alert alert-dismissable <%= type %>">
      <h4><%= name %></h4>
      <p><%= message %> </p>
    </div>
  </script>

<script type="text/template" id="user-template">
    <li class="presentation">
      <a href="" id="<%= ip %>">
        <h4><%= name %></h4>
        <span class="label label-default">
          <%= ip %>
        </span>
      </a>
    </li>
</script>

<script src="app/scripts/network.js"></script>
<script src="app/scripts/client.js"></script>
</body>
</html>